@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f172a;
  color: #f8fafc;
}
